<footer class="p-4 bg-white sm:p-6 dark:bg-gray-900 absolute bottom-0 w-full">
  <div class="sm:flex sm:items-center sm:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >© 2023 <a href="#" class="hover:underline">Ceccoff</a>. All Rights
      Reserved.
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <a
        href="#"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <mat-icon
          class="icon-size-5 text-current mr-2"
          [svgIcon]="'feather:facebook'"
          (click)="onClickLink('facebook')"></mat-icon>
        <span class="sr-only">Facebook page</span>
      </a>
      <a
        href="#"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <mat-icon
          class="icon-size-5 text-current mr-2"
          [svgIcon]="'feather:linkedin'"
          (click)="onClickLink('linkedin')"></mat-icon>
        <span class="sr-only">Linkedin page</span>
      </a>
      <a
        href="#"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <mat-icon
          class="icon-size-5 text-current mr-2"
          [svgIcon]="'feather:instagram'"
          (click)="onClickLink('instagram')"></mat-icon>
        <span class="sr-only">Instagram page</span>
      </a>
      <a
        href="#"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <mat-icon
          class="icon-size-5 text-current mr-2"
          [svgIcon]="'feather:twitch'"
          (click)="onClickLink('twitch')"></mat-icon>
        <span class="sr-only">Twitch page</span>
      </a>
      <a
        href="#"
        class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
        <mat-icon
          class="icon-size-5 text-current mr-2"
          [svgIcon]="'feather:github'"
          (click)="onClickLink('github')"></mat-icon>
        <span class="sr-only">GitHub account</span>
      </a>
    </div>
  </div>
</footer>
