<nav
  class="bg-[#1F2044] border-gray-200 text-white px-2 sm:px-4 py-2.5 dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="flex items-center md:order-2">
      <ul class="py-1" role="none">
        <li>
          <a href="tel:+58745852733"
            ><i class="flaticon-call"></i> (+44) 763-227-5032
          </a>
        </li>
      </ul>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="assets/svg/facebook.svg" class="w-5 h-5" />
          <span class="sr-only">Facebook page</span>
        </a>
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="assets/svg/linkedin.svg" class="w-5 h-5" />
          <span class="sr-only">Linkedin page</span>
        </a>
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="assets/svg/instagram.svg" class="w-5 h-5" />
          <span class="sr-only">Instagram page</span>
        </a>
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="assets/svg/twitter.svg" class="w-5 h-5" />
          <span class="sr-only">Twitter page</span>
        </a>
        <a
          href="#"
          class="text-gray-500 hover:text-gray-900 dark:hover:text-white">
          <img src="assets/svg/github.svg" class="w-5 h-5" />
          <span class="sr-only">GitHub account</span>
        </a>
      </div>
    </div>
  </div>
</nav>
