<nav
  class="bg-[#1F2044] border-gray-200 text-white px-2 sm:px-4 py-2.5 dark:bg-gray-900">
  <div class="container flex flex-wrap items-center justify-between mx-auto">
    <div class="flex items-center md:order-2">
      <ul class="py-1" role="none">
        <li>
          <a
            href="tel:+5541996234244"
            class="text-gray-300 hover:text-white flex self-center"
            ><mat-icon
              class="icon-size-5 text-current mr-2"
              [svgIcon]="'feather:phone'"></mat-icon>
            (+41) 9 9623-4244
          </a>
        </li>
      </ul>
    </div>
    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
      <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
        <a href="#" class="text-gray-300 hover:text-white flex self-center">
          <mat-icon
            class="icon-size-5 text-current"
            [svgIcon]="'feather:facebook'"
            (click)="onClickLink('facebook')">
          </mat-icon>
          <span class="sr-only">Facebook page</span>
        </a>
        <a href="#" class="text-gray-300 hover:text-white flex self-center">
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'feather:linkedin'"
            (click)="onClickLink('linkedin')"></mat-icon>
          <span class="sr-only">Linkedin page</span>
        </a>
        <a href="#" class="text-gray-300 hover:text-white flex self-center">
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'feather:instagram'"
            (click)="onClickLink('instagram')"></mat-icon>
          <span class="sr-only">Instagram page</span>
        </a>
        <a href="#" class="text-gray-300 hover:text-white flex self-center">
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'feather:twitch'"
            (click)="onClickLink('twitch')"></mat-icon>
          <span class="sr-only">Twitter page</span>
        </a>
        <a href="#" class="text-gray-300 hover:text-white flex self-center">
          <mat-icon
            class="icon-size-5"
            [svgIcon]="'feather:github'"
            (click)="onClickLink('github')"></mat-icon>
          <span class="sr-only">GitHub account</span>
        </a>
      </div>
    </div>
  </div>
</nav>
